.contact-page {
    background-image: url('../assets/images/background.png'); /* Cambia el nombre del archivo según sea necesario */
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    color: white; 
}

.contact-container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    width: 500px; 
    text-align: center; 
}

.form-title {
    margin-bottom: 20px; 
    font-size: 24px; 
}

.form-group {
    margin-bottom: 15px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
}

button {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

button:hover {
    background-color: #0056b3; 
}
